<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/messages.css">
    </head>

    <body>
        <main class="centered">
            <div class="div">
                <p> <%= message.message %> </p>
            </div>
        </main>
        <%- include('../includes/end.ejs') %>